﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JP Financial</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../Content/Site.css" rel="stylesheet" />

    <!-- Fonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
    <link href="../../Content/themify-icons.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 h-100" id="leftPane"></div>
                <div class="col-md-10 h-100" id="centerPane">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" id="mainNav">
                            <div class="navbar-collapse collapse">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span style="float: left; margin-left: 30px">Welcome @User.Identity.Name</span>
                                }
                                <ul class="navbar-nav ml-auto text-center">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            @Html.ActionLink("Log Out", "Logoff", "Identity")
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            @Html.ActionLink("Login", "Login", "Identity")
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Register", "Register", "Identity")
                                        </li>
                                        <li class="nav-item dropdown" id="helpDropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Help
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                @Html.ActionLink("Getting Started", "GettingStarted", "Support")
                                                @Html.ActionLink("Contact Us", "Contact", "Support")
                                            </div>
                                        </li>
                                    }
                                    
                                </ul>

                            </div>
                        </nav>
                    </div>
                    <div class="row">
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                                    <li class="nav-item">@Html.ActionLink("Accounts", "Index", "Accounts")</li>
                                    <li class="nav-item">@Html.ActionLink("Bills", "Index", "Bills")</li>
                                    <li class="nav-item">@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            @RenderBody()
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <hr />
                    <div class="col-md-12 col-lg-12 row fixed-bottom">
                        <footer class="footer-big">
                            <p>&copy; @DateTime.Now.Year - J R Parsons, LLC</p>
                        </footer>
                    </div>
                </div>
                <div class="col-md-1 h-100" id="rightPane"></div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        @*Google Charts*@
        <script type="text/javascript" src="../../Scripts/chartist.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        @RenderSection("scripts", required: false)
        @RenderSection("MyScripts", required: false)

        <script>

            var url = window.location.href;

            $(".nav a").each(function () {
                if (url === (this.href)) {
                    $(this).closest("li").addClass("active");
                    $(this).closest("li").parent().parent().addClass("active");
                } else {
                    $(this).closest("li").removeClass("active");
                    $(this).closest("li").parent().parent().removeClass("active");
                }
            });
        </script>
    </div>
</body>
</html>
