﻿@model JPFData.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.PaycheckContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.PaycheckContribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.RequiredSavings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.RequiredSavings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.BalanceSurplus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.BalanceSurplus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
